body {
    font-family: monospace;
    font-size: 18px;
    line-height: 1.4;
    text-align: center;
    margin: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.pizza-container {
    flex: 1;
    text-align: left;
    padding: 20px;
    margin: 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666666;
}

input[type='number'] {
    padding: 8px;
    font-size: 20px;
    margin-bottom: 15px;
    width: calc(100% - 16px);
    box-sizing: border-box;
}

input:focus {
    border: 2px solid black;
    outline: none;
}

input[type='checkbox'] {
    margin-left: 16px;
}

#result {
    padding: 20px;
    margin: 60px 8px 8px 8px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    font-size: 20px;
}

ul.caveats {
    padding: 20px;
    margin: 60px 8px 8px 8px;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    border-radius: 8px;
    text-align: left;
    list-style: none;
    font-size: 14px;
    color: #666666;
}

ul.caveats li {
    padding: 20px 0;
    border-bottom: 1px solid #dddddd;
}

ul.caveats li:last-child {
    border-bottom: 0px none;
}

.footer {
    font-size: 16px;
}